# React
freshcart-frontend/node_modules/
freshcart-frontend/build/
freshcart-frontend/.env


# Node Backend
freshcart-backend/node_modules/
freshcart-backend/.env


# Logs
*.log


# OS files
.DS_Store
Thumbs.db